textarea{
    height: 100px;
}

.post-author{

}

.post-content{

}

.post-date{
    font-size: 12px;
    color:gray;
}

.edit-label,
.cancel-edit-label {
    color:dodgerblue;
}

.edit-label:hover,
.cancel-edit-label:hover{
    cursor: pointer;
}