{% extends "network/layout.html" %}

{% block body %}

    <div class="container m-1">
        <h3>All posts:</h3>
    </div>

    {% if user.is_authenticated %}
        <div class="container border rounded mx-4 my-2">
            <div class="row my-2">
                <div class="col font-weight-bold">
                    New post:
                </div>
            </div>

            <div class="row" m-2>
                <div class="col">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea type="text" name="post-text" class="form-control mb-2" id="newPostText" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Post</button>
                    </form>
                </div>
            </div>

        </div>
    {% endif %}

    {% for post in posts %}
        <div class="container border rounded mx-4 my-2">
            <div class="row m-2">
                <div class="col font-weight-bold">{{ post.user }}</div>
            </div>
            <div class="row m-2">
                <div class="col">{{ post.content }}</div>
            </div>
            <div class="row m-2">
                <div class="col post-date" >{{ post.addedOn }}</div>
            </div>
        </div>
    {% endfor %}


{% endblock %}