  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .comment-box{
      margin-bottom: 1em;
  }

  .comment-author{
      font-weight: bold;
  }

  .comment-date{
      font-weight: lighter;
  }